@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


body {
  height: 100dvh;
  font-family: "Open Sans", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  background-color: black;
}

@theme {

  --animate-pop-letter: pop-letter 0.2s ease;

  @keyframes pop-letter {
    0% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}